#view{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    color: #333333;
}
/*登录页样式*/
#container{
    background-image: url("../img/loginBg.jpg");
    background-position: center;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    user-select: none;
    color: #333333;
}
.login_bg{
    width: 3.6rem;
    height: 4.4rem;
    background-color: #ffffff;
    border: 0.03rem solid #ECECEC;
    border-radius: 0.05rem;
    margin-left: calc(100vw - 5.6rem);
    margin-top: calc(100vh - 8rem);
    padding: 0.2rem;
}
.login_frame{
    height: 4rem;
    background-color: #f0f0f0;
    border-radius: 0.05rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_frame input{
    width: 3.2rem;
    height: 0.44rem;
    border-radius: 0.05rem;
    border: 0.02rem solid #e0e0e0;
    text-indent: 0.1rem;
    font-size: 0.16rem;
    margin-top: 0.26rem;
}
.login_title{
    width: 100%;
    border-bottom: 0.03rem solid #1DB15B;
    line-height: 0.6rem;
    font-size: 0.2rem;
    color: #6e6e6e;
    text-align: center;
    margin-bottom: 0.3rem;
    font-weight: bold;
}
.login_btn {
    width: 3.16rem;
    line-height: 0.5rem;
    border-radius: 0.05rem;
    border: 0.02rem solid #e0e0e0;
    font-size: 0.2rem;
    margin-top: 0.64rem;
    text-align: center;
    color: white;
    background-color: #1DB15B;
    font-weight: bold;
    cursor: pointer;
}
.login_btn:hover {
    opacity: 0.9;
}
.login_btn:active {
    opacity: 1;
}
.login_bt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.02rem;
}
.login_bt span{
    display: inline-block;
    line-height: 0.6rem;
    cursor: pointer;
    font-size: 0.16rem;
    transition:all 0.2s linear 0.2s
}
.login_bt span:hover{
    font-size: 0.18rem;
}

/*申请页样式*/
.apply_top{
    width: 100%;
    padding: 0.2rem 0;
    background-color: #1db15b;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.apply_top_title{
    font-size: 0.18rem;
    color: white;
    line-height: 0.4rem;
}
.apply_top_line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.apply_top_line_dot{
    width: 0.2rem;
    height: 0.2rem;
}
.apply_top_line_line{
    width: 4rem;
    height: 0.01rem;
    margin: 0.1rem;
}
.apply_top_txt{
    height: 0.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.apply_top_txt_1{
    font-size: 0.16rem;
    color: white;
    display: inline-block;
}
.apply_top_txt_2{
    font-size: 0.16rem;
    color: white;
    width: 3.8rem;
    display: inline-block;
}
.apply_mid{
    font-size: 0.15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
}
.apply_mid_form_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 12rem;
    border-bottom: 0.01rem solid #ECECEC;
    height: 0.6rem;
}
.apply_mid_form_list p{
    color: #4fb16f;
    width: 4rem;
}
.apply_mid_form_list input,.apply_mid_form_list select{
    width: 8rem;
    border: none;
    outline: none;
    color: #4fb16f;
}
.apply_mid_form_list input{
    text-indent: 0.04rem;
}
.apply_mid_btn{
    color: #ffffff;
    background-color: #53ad65;
    width: 12.1rem;
    height: 0.4rem;
    margin-top: 0.5rem;
    border-radius: 0.05rem;
    font-size: 0.16rem;
    line-height: 0.4rem;
    text-align: center;
}
.apply_mid_btn2{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 12.1rem;
}
.apply_mid_btn2 div{
    color: #ffffff;
    background-color: #53ad65;
    width: 4rem;
    height: 0.4rem;
    border-radius: 0.05rem;
    font-size: 0.16rem;
    line-height: 0.4rem;
    text-align: center;
}
.apply_mid_err{
    color: red;
    font-size: 0.15rem;
    height: 0.4rem;
    line-height: 0.2rem;
}
.apply_mid_suc{
    width: 10rem;
    height: 1.2rem;
    color: #FFBF3A;
    font-size: 0.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.2rem;
}
.apply_bottom{
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.apply_bottom img{
    width: 3rem;
    margin-left: calc(50vw - 1.5rem);
}

/*用户信息页样式*/
.user_info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 60vh;
    background-color: #f6f6f6;
    overflow-y: scroll;
}
.user_info::-webkit-scrollbar {
    width: 0;
}
.user_info_list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 0.5rem;
    margin-top: 0.2rem;
    font-size: 0.24rem;
    width: 41vw;
    margin-left: 8vw;
}
.user_info_list span{
    display: inline-block;
    width: 1.2rem;
    line-height: 0.5rem;
}
.user_info_list input{
    width: 5rem;
    line-height: 0.5rem;
    border-radius: 0.05rem;
    outline: none;
    background-color: #f6f6f6;
}
.user_info_list img{
    height: 0.5rem;
    margin-left: 0.1rem;
    cursor: pointer;
}