<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号申请</title>
    <script src="../../plugin/import.js"></script>
    <script src="user.js"></script>
</head>
<body ng-app="QBMsys" class="selectNone" ng-controller="acctapplyCtrl" ng-init="init()">
<div class="apply_top">
    <div class="apply_top_title">欢迎注册题库管理系统</div>
    <div class="apply_top_line">
        <img class="apply_top_line_dot" ng-src="{{titleLine[0]}}" alt="">
        <img class="apply_top_line_line" ng-src="{{titleLine[1]}}" alt="">
        <img class="apply_top_line_dot" ng-src="{{titleLine[2]}}" alt="">
        <img class="apply_top_line_line" ng-src="{{titleLine[3]}}" alt="">
        <img class="apply_top_line_dot" ng-src="{{titleLine[4]}}" alt="">
    </div>
    <div class="apply_top_txt">
        <p class="apply_top_txt_1">信息录入</p>
        <p class="apply_top_txt_2"></p>
        <p class="apply_top_txt_1">密码设置</p>
        <p class="apply_top_txt_2"></p>
        <p class="apply_top_txt_1">注册完成</p>
    </div>
</div>

<div class="apply_mid" ng-if="step == 1">
    <div class="apply_mid_form_list">
        <p>姓名</p>
        <input type="text" ng-model="user.name" placeholder="请输入姓名">
    </div>
    <div class="apply_mid_form_list">
        <p>注册类型</p>
        <select class="teacher_main_Q_title_other" ng-model="authType" ng-click="deal(authType,'authType')"
                ng-options="k.name for k in authList"></select>
    </div>
    <div class="apply_mid_form_list">
        <p>{{authType.title}}</p>
        <input type="tel" ng-model="user.id" placeholder="{{authType.placeholder}}" maxlength="{{authType.length}}" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
    </div>
    <div class="apply_mid_form_list">
        <p>所在院系</p>
        <select class="teacher_main_Q_title_other" ng-model="department" ng-click="search()"
                ng-options="k.name for k in departmentList"></select>
    </div>
    <div class="apply_mid_form_list" ng-show="authType.value == '02'">
        <p>所学专业</p>
        <select class="teacher_main_Q_title_other" ng-model="subject" ng-click="search()"
                ng-options="k.name for k in subjectList"></select>
    </div>
    <div class="apply_mid_form_list" ng-show="authType.value == '01'">
        <p>所授课程</p>
        <select class="teacher_main_Q_title_other" ng-model="cuorse" ng-click="search()"
                ng-options="k.name for k in cuorseList"></select>
    </div>
    <div class="apply_mid_form_list">
        <p>邮箱</p>
        <input type="email" ng-model="user.email" placeholder="请输入邮箱">
    </div>
    <div class="apply_mid_btn" ng-click="toSetPwd()">下一步</div>
    <p class="apply_mid_err">{{errorMsg}}</p>
</div>

<div class="apply_mid" ng-if="step == 2">
    <div class="apply_mid_form_list">
        <p>密码</p>
        <input type="password" style="text-align: right" ng-model="pwd.pwd1" maxlength="12" placeholder="请输入密码">
    </div>
    <div class="apply_mid_form_list">
        <p>确认密码</p>
        <input type="password" style="text-align: right" ng-model="pwd.pwd2" maxlength="12" placeholder="请再次输入密码">
    </div>
    <div class="apply_mid_btn2">
        <div ng-click="goNext(1)">返回</div>
        <div ng-click="toSubmit()">提交</div>
    </div>
    <p class="apply_mid_err">{{errorMsg}}</p>
</div>

<div class="apply_mid" ng-if="step == 3">
    <div class="apply_mid_suc">
        账号注册申请已提交，等待管理员审核。
    </div>
    <div class="apply_mid_btn" ng-click="goreplace('login')">完成</div>
</div>
<div class="apply_bottom">
    <img src="../../img/user/wxgzh.jpg" alt="">
</div>
</body>
</html>