<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <script src="../../plugin/import.js"></script>
    <script src="user.js"></script>
</head>
<body ng-app="QBMsys" class="selectNone" ng-controller="myInfoCtrl" ng-init="init()">
<div id="bar_common_header" class="common_header">
    <div class="common_header_logo">
        <img src="../../img/common/logo.png" alt="">
        <p>题库管理系统</p>
    </div>
    <div class="common_header_menu">
        <div class="common_header_menu_float common_header_menu_float1"
             ng-mouseover="commonToggleMenu('#common_header_menu_float1',true)"
             ng-mouseleave="commonToggleMenu('#common_header_menu_float1',false)">
            <p>题库管理</p>
            <div id="common_header_menu_float1">
                <p ng-click="goto('addQuestion')">题目添加</p>
                <p ng-click="goto('questionMain')">题目维护</p>
            </div>
        </div>
        <div class="common_header_menu_float common_header_menu_float2"
             ng-mouseover="commonToggleMenu('#common_header_menu_float2',true)"
             ng-mouseleave="commonToggleMenu('#common_header_menu_float2',false)">
            <p>试卷管理</p>
            <div id="common_header_menu_float2">
                <p>试卷添加</p>
                <p>试卷维护</p>
            </div>
        </div>
    </div>

    <div class="common_header_btn">
        <span ng-click="goto('myInfo')">个人中心</span>|<span>修改密码</span>|<span ng-click="goto('login')">退出登录</span>
    </div>
</div>

<div class="user_info">
    <div class="user_info_list">
        <span>姓名</span>
        <input type="text" ng-model="user.name" id="user_info_input1">
        <img src="../../img/common/pencil.jpg" ng-click="doFocus('user_info_input1')">
    </div>
    <div class="user_info_list">
        <span>{{user.authType=='01'?'职工号':'学号'}}</span>
        <input type="text" ng-value="user.id" readonly="readonly">
    </div>
    <div class="user_info_list">
        <span>用户类型</span>
        <input type="text" ng-value="user.authType" readonly="readonly">
    </div>
    <div class="user_info_list">
        <span>学院</span>
        <input type="text" ng-value="user.department|departmentType" readonly="readonly">
    </div>
    <div class="user_info_list">
        <span>邮箱</span>
        <input type="email" ng-model="user.email" id="user_info_input2">
        <img src="../../img/common/pencil.jpg" ng-click="doFocus('user_info_input2')">
    </div>

    <button class="user_info_btn" ng-click="submit()">提交修改</button>
</div>

<footer id="bar_common_footer" class="common_footer">
    <div class="common_footer_left">
        <div>
            <p class="common_clickHover">网站声明</p>
            <span>|</span>
            <p class="common_clickHover">服务网点</p>
            <span>|</span>
            <p class="common_clickHover">联系我们</p>
            <span>|</span>
            <p class="common_clickHover">客服热线</p>
        </div>
        <div>版权所有©太原科技大学版权所有 晋公网安备14010002001548号</div>
        <div>地址：中国·山西省·太原市万柏林区窊流路66号</div>
    </div>
    <div class="common_footer_right">

    </div>
</footer>
<div class="common_shortcuts" ng-mouseover="commonShowcomplete()" ng-mouseleave="commonHidecomplete()">
    <div ng-click="goToHome()">
        <img src="../../img/common/home.jpg" alt="">
        <p>回到首页</p>
    </div>
    <div ng-click="goToMsg()">
        <img src="../../img/common/suggest.jpg" alt="">
        <p>我要留言</p>
    </div>
    <div class="borderNone" ng-click="backTOtop()">
        <img src="../../img/common/backtop.jpg" alt="">
        <p>回到顶部</p>
    </div>
</div>
</body>
</html>