<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理中心</title>
    <script src="../../plugin/import.js"></script>
    <script src="main.js"></script>
</head>
<body ng-app="QBMsys" class="selectNone" ng-controller="mianCtrl" ng-init="init()">
<div id="bar_common_header" class="common_header">
    <div class="common_header_logo">
        <img src="../../img/common/logo.png" alt="">
        <p>题库管理系统</p>
    </div>
    <div class="examine_header_menu">
        <p ng-class="{'examine_header_menu_p':searchParams.type == '01'}" ng-click="changeMenu('01')">待审核</p>
        <p ng-class="{'examine_header_menu_p':searchParams.type == '02'}" ng-click="changeMenu('02')">用户管理</p>
        <p ng-class="{'examine_header_menu_p':searchParams.type == '03'}" ng-click="changeMenu('03')">公告管理</p>
    </div>

    <div class="common_header_btn">
        <span ng-click="gotoNew('messageList')">消息中心</span>|<span ng-click="gotoNew('changePwd')">修改密码</span>|<span ng-click="goto('login')">退出登录</span>
    </div>
</div>

<div class="paper_main" ng-show="searchParams.type == '01'">
    <div class="teacher_main_Q_title">
        <div>
            <p style="background-color: #e6eae9;width: 5vw">{{resultList.length}}</p>
            <p><span>审核类型</span><select class="teacher_main_Q_title_other" ng-model="searchParams.list"
                                        ng-click="search()"
                                        ng-options="k.type for k in examineType"></select></p>
            <p><span>申请时间</span> <img
                    ng-src="../../img/teacher/{{searchParams.descFlag ? 'desc.jpg':'asc.jpg' }}"
                    ng-click="search('time')"></p>
            <p><span>申请人</span> <input class="teacher_main_Q_title_other" ng-model="searchParams.author"
                                       placeholder="按回车键搜索" type="text"></p>
            <p style="justify-content: center">操作</p>
        </div>
        <img class="teacher_main_img1" ng-click="togleMaxed()" ng-show="maxed" src="../../img/teacher/pull.jpg" alt="">
        <img class="teacher_main_img2" ng-click="togleMaxed()" ng-hide="maxed" src="../../img/teacher/push.jpg" alt="">
    </div>
    <div class="teacher_main_Q_body" ng-class-even="'common_bg_f5'" ng-repeat="item in resultList track by $index">
        <p style="width: 5vw">{{$index + 1}}</p>
        <p ng-click="toDetails(item)" class="common_clickHover">{{item.title ||
            (item.authType | authorType)}}</p>
        <p>{{item.lastUpdate | updateTime}}</p>
        <p class="common_clickHover" ng-click="gotoNew('readOnlyUser',{id:item.authorId})">{{item.author || item.name}}</p>
        <p class="examine_main_operate">
            <span class="common_clickHover" ng-click="doExamine(item,true)">同意</span>
            <span class="common_clickHover" ng-click="doExamine(item,false)">拒绝</span>
        </p>
    </div>
</div>

<div class="paper_main" ng-show="searchParams.type == '02'">
    <div class="teacher_main_Q_title">
        <div>
            <p style="background-color: #e6eae9;width: 5vw">{{resultList.length}}</p>
            <p><span>用户类型</span><select class="teacher_main_Q_title_other" ng-model="searchParams.list"
                                        ng-click="search()"
                                        ng-options="k.type for k in examineType"></select></p>
            <p><span>更新时间</span> <img
                    ng-src="../../img/teacher/{{searchParams.descFlag ? 'desc.jpg':'asc.jpg' }}"
                    ng-click="search('time')"></p>
            <p><span>用户名</span> <input class="teacher_main_Q_title_other" ng-model="searchParams.author"
                                       placeholder="按回车键搜索" type="text"></p>
            <p style="justify-content: center">操作</p>
        </div>
        <img class="teacher_main_img1" ng-click="togleMaxed()" ng-show="maxed" src="../../img/teacher/pull.jpg" alt="">
        <img class="teacher_main_img2" ng-click="togleMaxed()" ng-hide="maxed" src="../../img/teacher/push.jpg" alt="">
    </div>
    <div class="teacher_main_Q_body" ng-class-even="'common_bg_f5'" ng-repeat="item in resultList track by $index">
        <p style="width: 5vw">{{$index + 1}}</p>
        <p ng-click="toDetails(item)" class="common_clickHover">{{item.id}}</p>
        <p>{{item.lastUpdate | updateTime}}</p>
        <p class="common_clickHover" ng-click="toDetails(item)">{{item.name}}</p>
        <p class="examine_main_operate">
            <span class="common_clickHover" ng-click="deleteUser(item)">删除</span>
        </p>
    </div>
</div>

<div class="paper_main" ng-show="searchParams.type == '03'">
    <div class="teacher_main_Q_title">
        <div>
            <p style="background-color: #e6eae9;width: 5vw">{{resultList.length}}</p>
            <p><span>接收人类型</span><select class="teacher_main_Q_title_other" ng-model="searchParams.list"
                                         ng-click="search()"
                                         ng-options="k.type for k in examineType"></select></p>
            <p><span>更新时间</span> <img
                    ng-src="../../img/teacher/{{searchParams.descFlag ? 'desc.jpg':'asc.jpg' }}"
                    ng-click="search('time')"></p>
            <p><span>公告标题</span> <input class="teacher_main_Q_title_other" ng-model="searchParams.author"
                                        placeholder="按回车键搜索" type="text"></p>
            <p style="justify-content: center">操作</p>
        </div>
        <img class="teacher_main_img1" ng-click="togleMaxed()" ng-show="maxed" src="../../img/teacher/pull.jpg" alt="">
        <img class="teacher_main_img2" ng-click="togleMaxed()" ng-hide="maxed" src="../../img/teacher/push.jpg" alt="">
    </div>
    <div class="teacher_main_Q_body" ng-class-even="'common_bg_f5'" ng-repeat="item in resultList track by $index">
        <p style="width: 5vw">{{$index + 1}}</p>
        <p>{{receiverType(item.type)}}</p>
        <p>{{item.id | updateTime}}</p>
        <p class="common_clickHover" ng-click="toDetails(item)">{{item.title}}</p>
        <p class="examine_main_operate">
            <span class="common_clickHover" ng-click="compileNotice(item)">修改</span>
            <span class="common_clickHover" ng-click="deleteNotice(item)">删除</span>
        </p>
    </div>
</div>

<footer id="bar_common_footer" class="common_footer">
    <div class="common_footer_left">
        <div>
            <p class="common_clickHover">网站声明</p>
            <span>|</span>
            <p class="common_clickHover">服务网点</p>
            <span>|</span>
            <p class="common_clickHover">联系我们</p>
            <span>|</span>
            <p class="common_clickHover">客服热线</p>
        </div>
        <div>版权所有©太原科技大学版权所有 晋公网安备14010002001548号</div>
        <div>地址：中国·山西省·太原市万柏林区窊流路66号</div>
    </div>
    <div class="common_footer_right">

    </div>
</footer>
<div class="common_shortcuts" ng-mouseover="commonShowcomplete()" ng-mouseleave="commonHidecomplete()">
    <div ng-click="goToHome()">
        <img src="../../img/common/home.jpg" alt="">
        <p>回到首页</p>
    </div>
    <div ng-click="toNotice()">
        <img src="../../img/common/suggest.jpg" alt="">
        <p>发布公告</p>
    </div>
    <div class="borderNone" ng-click="backTOtop()">
        <img src="../../img/common/backtop.jpg" alt="">
        <p>回到顶部</p>
    </div>
</div>
</body>
</html>