<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <script src="../../plugin/import.js"></script>
    <script src="message.js"></script>
</head>
<body ng-app="QBMsys" class="selectNone" ng-controller="compileNoticeCtrl" ng-init="init()">
<div class="common_titlebar">
    <div>
        <img ng-click="returnback()" src="../../img/teacher/back.jpg" alt="">
    </div>
    <p>公告</p>
    <div>
        <img title="点击编辑" ng-hide="compileable" ng-click="compileable = true" src="../../img/teacher/compile.jpg">
        <p title="点击保存" ng-show="compileable" ng-click="submit()" style="cursor: pointer">保存</p>
    </div>
</div>

<div class="message_body">
    <div class="message_body_them" style="line-height: 0.3rem;margin-top: 0.1rem">
        <p>主题</p>
        <input type="text" placeholder="请输入公告主题" ng-model="message.title" maxlength="40" ng-readonly="!compileable">
    </div>
    <div class="message_body_them" style="width: 9.02rem;margin-bottom: 0.1rem">
        <div>接收对象</div>
        <span ng-click="(compileable) && (receiver1=(receiver1==0?1:0))">
            <img ng-src="../../img/common/{{receiver1 == 1 ? 'checked.jpg':'unchecked.jpg' }}">
            老师
        </span>
        <span ng-click="(compileable) && (receiver2=(receiver2==0?2:0))">
            <img ng-src="../../img/common/{{receiver2 == 2 ? 'checked.jpg':'unchecked.jpg' }}">
            学生
        </span>
    </div>
    <textarea placeholder="请在此输入要发布的公告（400字以内）" ng-model="message.describe" maxlength="900"
              ng-readonly="!compileable"></textarea>
</div>



<div class="questiondetail_tips">
    <p ng-hide="compileable">当前状态：不可编辑。如要编辑请点击右上角的编辑按钮。</p>
    <p ng-show="compileable">当前状态：可编辑。</p>
</div>
</body>
</html>