<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <script src="../../plugin/import.js"></script>
    <script src="message.js"></script>
</head>
<body ng-app="QBMsys" class="selectNone" ng-controller="messageListCtrl" ng-init="init()">
<div class="common_titlebar">
    <div>
        <img ng-click="close()" src="../../img/teacher/back.jpg" alt="">
    </div>
    <p>我的消息</p>
    <div>共{{messageList.length}}条</div>
</div>

<div class="messageList_body">
    <div class="messageList_body_item" ng-class-even="'common_bg_f5'" ng-repeat="item in messageList track by $index">
        <div style="width: 3vw;font-weight: bold">{{$index + 1}}</div>
        <div title="{{item.title}}" style="width: 15vw;">{{item.title}}</div>
        <div title="{{item.describe}}" style="width: 40vw;">{{item.describe}}</div>
        <div style="width: 15vw;">{{item.id | updateTime}}</div>
        <div style="width: 7vw;" class="common_tec common_clickHover" ng-click="gotoNew('addMessage',{uncompileable:true,message:item})">查看</div>
    </div>
</div>

<div class="questiondetail_tips">

</div>
<div class="common_shortcuts" ng-mouseover="commonShowcomplete()" ng-mouseleave="commonHidecomplete()">
    <div ng-click="goTohome()">
        <img src="../../img/common/home.jpg" alt="">
        <p>回到首页</p>
    </div>
    <div ng-click="goToMsg()">
        <img src="../../img/common/suggest.jpg" alt="">
        <p>我要留言</p>
    </div>
    <div class="borderNone" ng-click="backTOtop()">
        <img src="../../img/common/backtop.jpg" alt="">
        <p>回到顶部</p>
    </div>
</div>
</body>
</html>