<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <script src="../../plugin/import.js"></script>
    <script src="controllers.js"></script>
</head>
<body ng-app="QBMsys" class="selectNone" ng-controller="paperDetailCtrl" ng-init="init()">
<div class="common_titlebar">
    <div>
        <img ng-click="close()" src="../../img/teacher/back.jpg" alt="">
    </div>
    <p>详细信息</p>
    <div style="width: 0.6rem;"></div>
</div>


<div class="paperDetail_main">
    <div class="paperDetail_main_tab">
        <div class="paperDetail_main_tab_title">
            <p>试卷名称</p>
            <input type="text" ng-model="paper.title" readonly="readonly">
        </div>
        <div class="paperDetail_main_tab_title">
            <img ng-click="togleShow('#choiceBody')" ng-src="../../img/common/{{choiceShowFlag ? 'delete.jpg':'add.jpg' }}" alt="">
            <p>选择题 <span>{{choiceQuestion.length}}</span> </p>
        </div>
        <div id="choiceBody" class="paperDetail_main_tab_body">
            <div ng-repeat="item in choiceQuestion track by $index">
                <span ng-class-even="'common_bg_f5'">{{item.title}}</span>
                <span ng-class-even="'common_bg_f5'">{{item.describe}}</span>
                <p></p>
            </div>
        </div>
        <div class="paperDetail_main_tab_title">
            <img ng-click="togleShow('#fillblankBody')" ng-src="../../img/common/{{fillblankShowFlag ? 'delete.jpg':'add.jpg' }}" alt="">
            <p>填空题 <span>{{fillblankQuestion.length}}</span> </p>
        </div>
        <div id="fillblankBody" class="paperDetail_main_tab_body">
            <div ng-repeat="item in fillblankQuestion track by $index">
                <span ng-class-even="'common_bg_f5'">{{item.title}}</span>
                <span ng-class-even="'common_bg_f5'">{{item.describe}}</span>
                <p></p>
            </div>
        </div>
        <div class="paperDetail_main_tab_title">
            <img ng-click="togleShow('#judgementBody')" ng-src="../../img/common/{{judgementShowFlag ? 'delete.jpg':'add.jpg' }}" alt="">
            <p>判断题 <span>{{judgementQuestion.length}}</span> </p>
        </div>
        <div id="judgementBody" class="paperDetail_main_tab_body">
            <div ng-repeat="item in judgementQuestion track by $index">
                <span ng-class-even="'common_bg_f5'">{{item.title}}</span>
                <span ng-class-even="'common_bg_f5'">{{item.describe}}</span>
                <p></p>
            </div>
        </div>
        <div class="paperDetail_main_tab_title">
            <img ng-click="togleShow('#explanBody')" ng-src="../../img/common/{{explanShowFlag ? 'delete.jpg':'add.jpg' }}" alt="">
            <p>名词解释题 <span>{{explanQuestion.length}}</span> </p>
        </div>
        <div id="explanBody" class="paperDetail_main_tab_body">
            <div ng-repeat="item in explanQuestion track by $index">
                <span ng-class-even="'common_bg_f5'">{{item.title}}</span>
                <span ng-class-even="'common_bg_f5'">{{item.describe}}</span>
                <p></p>
            </div>
        </div>
        <div class="paperDetail_main_tab_title">
            <img ng-click="togleShow('#shortanswerBody')" ng-src="../../img/common/{{shortanswerShowFlag ? 'delete.jpg':'add.jpg' }}" alt="">
            <p>简答题 <span>{{shortanswerQuestion.length}}</span> </p>
        </div>
        <div id="shortanswerBody" class="paperDetail_main_tab_body">
            <div ng-repeat="item in shortanswerQuestion track by $index">
                <span ng-class-even="'common_bg_f5'">{{item.title}}</span>
                <span ng-class-even="'common_bg_f5'">{{item.describe}}</span>
                <p></p>
            </div>
        </div>
    </div>
    <div style="height: 0.1rem;">&nbsp;</div>
</div>

<div class="questiondetail_tips">
    <p>当前状态：不可编辑。</p>
</div>
<div class="common_shortcuts" ng-mouseover="commonShowcomplete()" ng-mouseleave="commonHidecomplete()">
    <div ng-click="goTohome()">
        <img src="../../img/common/home.jpg" alt="">
        <p>回到首页</p>
    </div>
    <div ng-click="goToMsg()">
        <img src="../../img/common/suggest.jpg" alt="">
        <p>我要留言</p>
    </div>
    <div class="borderNone" ng-click="backTOtop()">
        <img src="../../img/common/backtop.jpg" alt="">
        <p>回到顶部</p>
    </div>
</div>
</body>
</html>