<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <script src="../../plugin/import.js"></script>
    <script src="controllers.js"></script>
</head>
<body ng-app="QBMsys" class="selectNone" ng-controller="questiondetailCtrl" ng-init="init()">
<div class="common_titlebar">
    <div>
        <img ng-click="close()" src="../../img/teacher/back.jpg" alt="">
    </div>
    <p>详细信息</p>
    <div style="width: 0.6rem;"></div>
</div>

<div class="questiondetail_main">
    <div class="questiondetail_main_item">
        <p>题目名称</p>
        <div>
            <input type="text" ng-model="nowEdited.title" readonly="readonly">
        </div>
    </div>
    <div class="questiondetail_main_item">
        <p>题目类型</p>
        <div>
            <span style="margin-left: 0.3rem">{{nowEdited.type|questionType}}</span>
        </div>
    </div>
    <div class="questiondetail_main_item">
        <p>题目描述</p>
        <div>
            <input type="text" ng-model="nowEdited.describe" readonly="readonly" placeholder="请输入题目描述内容">
        </div>
    </div>
    <div class="questiondetail_main_item" ng-repeat="option in nowEdited.options track by $index">
        <p>选项{{$index + 1}}</p>
        <div>
            <input type="text" ng-model="option" readonly="readonly">
        </div>
    </div>
    <div class="questiondetail_main_item" ng-if="nowEdited.type == '02'" ng-repeat="answer in nowEdited.answer track by $index">
        <p>第{{$index + 1}}空</p>
        <div>
            <input type="text" ng-model="answer" readonly="readonly">
        </div>
    </div>
    <div class="questiondetail_main_item" ng-if="nowEdited.type != '02'">
        <p>题目答案</p>
        <div>
            <input ng-if="nowEdited.type != '02'" type="text" readonly="readonly" ng-model="nowEdited.answer[0]">
        </div>
    </div>
</div>

<div class="questiondetail_tips">
    <p>当前状态：不可编辑。</p>
</div>
<div class="common_shortcuts" ng-mouseover="commonShowcomplete()" ng-mouseleave="commonHidecomplete()">
    <div ng-click="goToHome()">
        <img src="../../img/common/home.jpg" alt="">
        <p>回到首页</p>
    </div>
    <div ng-click="goToMsg()">
        <img src="../../img/common/suggest.jpg" alt="">
        <p>我要留言</p>
    </div>
    <div class="borderNone" ng-click="backTOtop()">
        <img src="../../img/common/backtop.jpg" alt="">
        <p>回到顶部</p>
    </div>
</div>
</body>
</html>