<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <script src="../../plugin/import.js"></script>
    <script src="controllers.js"></script>
</head>
<body ng-app="QBMsys" class="selectNone" ng-controller="userDetailsCtrl" ng-init="init()">
<div class="common_titlebar">
    <div>
        <img ng-click="close()" src="../../img/teacher/back.jpg" alt="">
    </div>
    <p>详细信息</p>
    <div style="width: 0.6rem;"></div>
</div>

<div class="questiondetail_main">
    <div class="questiondetail_main_item">
        <p>姓名</p>
        <div>
            <span style="margin-left: 0.3rem">{{user.name}}</span>
        </div>
    </div>
    <div class="questiondetail_main_item">
        <p>{{user.authType=='01'?'职工号':'学号'}}</p>
        <div>
            <span style="margin-left: 0.3rem">{{user.id}}</span>
        </div>
    </div>
    <div class="questiondetail_main_item">
        <p>学院</p>
        <div>
            <span style="margin-left: 0.3rem">{{user.department | departmentType}}</span>
        </div>
    </div>
    <div class="questiondetail_main_item" ng-show="user.authType=='02'">
        <p>专业</p>
        <div>
            <span style="margin-left: 0.3rem">{{user.subject | subjectType}}</span>
        </div>
    </div>
    <div class="questiondetail_main_item" ng-show="user.authType=='01'">
        <p>所授课程</p>
        <div>
            <span style="margin-left: 0.3rem">{{user.cuorseList | cuorseType}}</span>
        </div>
    </div>
    <div class="questiondetail_main_item">
        <p>邮箱</p>
        <div>
            <span style="margin-left: 0.3rem">{{user.email}}</span>
        </div>
    </div>
</div>

<div class="questiondetail_tips">
    <p>当前状态：不可编辑。</p>
</div>
<div class="common_shortcuts" ng-mouseover="commonShowcomplete()" ng-mouseleave="commonHidecomplete()">
    <div ng-click="goToHome()">
        <img src="../../img/common/home.jpg" alt="">
        <p>回到首页</p>
    </div>
    <div ng-click="goToMsg()">
        <img src="../../img/common/suggest.jpg" alt="">
        <p>我要留言</p>
    </div>
    <div class="borderNone" ng-click="backTOtop()">
        <img src="../../img/common/backtop.jpg" alt="">
        <p>回到顶部</p>
    </div>
</div>
</body>
</html>