<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <script src="../../plugin/import.js"></script>
    <script src="main.js"></script>
</head>
<body ng-app="QBMsys" class="selectNone" ng-controller="mianCtrl" ng-init="init()">
<div id="bar_common_header" class="common_header">
    <div class="common_header_logo">
        <img src="../../img/common/logo.png" alt="">
        <p>题库管理系统</p>
    </div>
    <div class="common_header_menu">
        <div class="common_header_menu_float common_header_menu_float1"
             ng-mouseover="commonToggleMenu('#common_header_menu_float1',true)"
             ng-mouseleave="commonToggleMenu('#common_header_menu_float1',false)">
            <p>题库管理</p>
            <div id="common_header_menu_float1">
                <p ng-click="goto('addQuestion')">题目添加</p>
                <p>题目维护</p>
            </div>
        </div>
        <div class="common_header_menu_float common_header_menu_float2"
             ng-mouseover="commonToggleMenu('#common_header_menu_float2',true)"
             ng-mouseleave="commonToggleMenu('#common_header_menu_float2',false)">
            <p>试卷管理</p>
            <div id="common_header_menu_float2">
                <p ng-click="goto('addPaper')">试卷添加</p>
                <p ng-click="goto('paperMain')">试卷维护</p>
            </div>
        </div>
    </div>

    <div class="common_header_btn">
        <span ng-click="goto('userInfo')">个人中心</span>|<span>修改密码</span>|<span ng-click="logOut(true)">退出登录</span>
    </div>
</div>

<div class="teacher_main">
    <div class="teacher_main_Q_title">
        <div>
            <p style="background-color: #e6eae9;width: 5vw">{{questionList.length}}</p>
            <p><span>题目名称</span> <input class="teacher_main_Q_title_other" ng-model="searchParams.title" placeholder="按回车键搜索" type="text"></p>
            <p><span>题目类型</span> <select class="teacher_main_Q_title_other" ng-model="searchParams.type" ng-click="search()"
                                         ng-options="k as v for (k,v) in questionType"></select></p>
            <p><span>添加时间</span> <img
                    ng-src="../../img/teacher/{{searchParams.descFlag ? 'desc.jpg':'asc.jpg' }}"
                    ng-click="search('time')"></p>
            <p><span>添加人</span> <input class="teacher_main_Q_title_other" ng-model="searchParams.author" placeholder="按回车键搜索" type="text"></p>
            <p style="justify-content: center">操作</p>
        </div>
        <img class="teacher_main_img1" ng-click="togleMaxed()" ng-show="maxed" src="../../img/teacher/pull.jpg" alt="">
        <img class="teacher_main_img2" ng-click="togleMaxed()" ng-hide="maxed" src="../../img/teacher/push.jpg" alt="">
    </div>
    <div class="teacher_main_Q_body" ng-class-even="'common_bg_f5'" ng-repeat="item in questionList track by $index">
        <p style="width: 5vw">{{$index + 1}}</p>
        <p title="{{item.name}}" ng-click="goto('questiondetails',{uncompileable:true,question:item})" class="common_clickHover">{{item.title}}</p>
        <p>{{item.type | questionType}}</p>
        <p>{{item.lastUpdate | updateTime}}</p>
        <p class="common_clickHover">{{item.author}}</p>
        <p><span ng-click="goto('questiondetails',{uncompileable:false,question:item})" class="common_clickHover">修改</span><span class="common_clickHover" ng-click="deleteQuestion(item)">删除</span></p>
    </div>


</div>

<footer id="bar_common_footer" class="common_footer">
    <div class="common_footer_left">
        <div>
            <p class="common_clickHover">网站声明</p>
            <span>|</span>
            <p class="common_clickHover">服务网点</p>
            <span>|</span>
            <p class="common_clickHover">联系我们</p>
            <span>|</span>
            <p class="common_clickHover">客服热线</p>
        </div>
        <div>版权所有©太原科技大学版权所有 晋公网安备14010002001548号</div>
        <div>地址：中国·山西省·太原市万柏林区窊流路66号</div>
    </div>
    <div class="common_footer_right">

    </div>
</footer>
<div class="common_shortcuts" ng-mouseover="commonShowcomplete()" ng-mouseleave="commonHidecomplete()">
    <div ng-click="goToHome()">
        <img src="../../img/common/home.jpg" alt="">
        <p>回到首页</p>
    </div>
    <div ng-click="goToMsg()">
        <img src="../../img/common/suggest.jpg" alt="">
        <p>我要留言</p>
    </div>
    <div class="borderNone" ng-click="backTOtop()">
        <img src="../../img/common/backtop.jpg" alt="">
        <p>回到顶部</p>
    </div>
</div>
</body>
</html>