<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <script src="../../plugin/import.js"></script>
    <script src="main.js"></script>
</head>
<body ng-app="QBMsys" class="selectNone" ng-controller="mianCtrl" ng-init="init()">
<div id="bar_common_header" class="common_header">
    <div class="common_header_logo">
        <img src="../../img/common/logo.png" alt="">
        <p>题库管理系统</p>
    </div>
    <div class="common_header_menu">
        <div>当前用户：{{user.name}}&nbsp;&nbsp;学院：{{user.department | departmentType}}&nbsp;&nbsp;专业：{{user.subject | subjectType}}</div>
    </div>

    <div class="common_header_btn">
        <span ng-click="gotoNew('myInfo')">个人中心</span>|<span ng-click="gotoNew('changePwd')">修改密码</span>|<span ng-click="logOut()">退出登录</span>
    </div>
</div>

<div class="teacher_main">
    <div class="teacher_main_Q_body common_bg_f5" style="width: 50vw">
        <h3 style="text-align: center;width: 100%;">请选择课程</h3>
    </div>
    <div class="teacher_main_Q_body common_clickHover" style="width: 50vw" ng-class-even="'common_bg_f5'"
         ng-repeat="item in cuorseList track by $index" ng-click="pickCuorse(item.value)">
        {{item.name}}
    </div>


</div>

<footer id="bar_common_footer" class="common_footer">
    <div class="common_footer_left">
        <div>
            <p class="common_clickHover">网站声明</p>
            <span>|</span>
            <p class="common_clickHover">服务网点</p>
            <span>|</span>
            <p class="common_clickHover">联系我们</p>
            <span>|</span>
            <p class="common_clickHover">客服热线</p>
        </div>
        <div>版权所有©太原科技大学版权所有 晋公网安备14010002001548号</div>
        <div>地址：中国·山西省·太原市万柏林区窊流路66号</div>
    </div>
    <div class="common_footer_right">

    </div>
</footer>
<div class="common_shortcuts" ng-mouseover="commonShowcomplete()" ng-mouseleave="commonHidecomplete()">
    <div ng-click="goToHome()">
        <img src="../../img/common/home.jpg" alt="">
        <p>回到首页</p>
    </div>
    <div ng-click="goToMsg()">
        <img src="../../img/common/suggest.jpg" alt="">
        <p>我要留言</p>
    </div>
    <div class="borderNone" ng-click="backTOtop()">
        <img src="../../img/common/backtop.jpg" alt="">
        <p>回到顶部</p>
    </div>
</div>
</body>
</html>