<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>题库管理系统</title>
    <script src="../../plugin/import.js"></script>
    <script src="login.js"></script>
</head>
<body ng-app="QBMsys">
<div id="container" ng-controller="loginCtrl" ng-init="init()">
    <img src="../../img/logTxt.png" class="logTxt">
    <div class="login_bg">
        <div class="login_frame">
            <div class="login_title">用户登录</div>
            <input type="text" placeholder="请输入用户名" ng-model="id">
            <input type="password" placeholder="请输入密码" ng-model="pwd">
            <div class="login_btn" ng-click="login()">登录</div>
        </div>
        <div class="login_bt">
            <span style="color:#D65113;" onclick="alert('敬请期待！')">忘记密码</span>
            <span style="color: #6495ED"
                  ng-click="goto('accountApply')">账号申请 >> </span>
        </div>
    </div>
</div>
</body>
<script>

</script>
</html>